/*** background color of the overall page ***/
body {
    background-color: #dddddd;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
}
/*** This will change the size of the top left corner logo ***/
#pageLogo {
	width: 50px;
	vertical-align: middle;
}
#headerText {
    margin: 0;
}
/*** This will change the size of the map "container" ***/
/*** it should be left to default of 100%/100% of the window ***/
#meshmap {
	/*height: 700px;*/
	/*margin: 5px auto;*/
	/*width: 100%;*/
}
/*** this is the size of the map itself ***/
#mapid {
	/*width: 100vh;*/
	height: 100vh;
}
h1 {
    color: navy;
    margin-left: 20px;
}
.center {
    text-align: center;
}

.login {
	text-align: center;
}

.loginBoldText {
	text-align: center;
	font-weight: bold;
}

.boldText {
	font-weight: bold;
}
td.BackgroundColor {
	background-color: #dddddd;
}
/*wxc*/
boldText {
	font-weight: bold;
}
/*wxc*/
redText {
	color: red;
}
/*wxc*/
greenText {
	color: green;
}
/*wxc*/
a.normalTextLink {
	color: inherit;
	/*text-decoration: inherit;*/
	text-decoration: none;
}

/*wxc*/
tr:nth-child(even) {
	background-color: #c0c0c0;
}

/*wxc*/
tr:nth-child(odd) {
	background-color: #d0d0d0;
}

.linkButton {
	background: none;
	color: blue;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	display: inline;
}

.inlineForm {
	display: inline;
}

MapTitle {
    color: Black;
    font-weight:bold;
    font-size: 2em;
    vertical-align: middle;
}

Warning_MSG {
    color: Red;
    font-weight:bold;
    font-size: 1.5em;
    text-align: center;
}

Welcome_MSG {
    /* color: Blue; */
    font-weight:bold;
    font-size: 1.5em;
    text-align: center;
    display: inline;
}

/*wxc*/
Welcome_MSG2 {
	color: Black;
	font-weight: bold;
	text-align: center;
	display: inline;
}

Internet_MSG {
    color: Purple;
    font-weight:bold;
    font-size: 1em;
    text-align: center;
}
Mesh_MSG {
    color: Orange;
    font-weight:bold;
    font-size: 1em;
    text-align: center;
}
NodeTitle {
    color: blue;
    font-weight:bold;
    text-align: center;
}

Device_Linux {
    color: yellow;
}

Device_900MHz {
    color: magenta;
}

Device_24GHz {
    color: purple;
}

Device_3GHz {
    color: blue;
}

Device_5GHz {
    color: gold;
}

dtd_link {
    color: #808080;
}

Link_DTD {
    color: #A020F0;
}

Link_Tunnel {
    color: #808080;
}
Link_Infinite {
    Color: black;
}
MAP_DETAILS {
    color: Black;
    font-weight:bold;
    font-size: 1.25em;
}

/*NEW ADDITIONS*/
.maptitle {
    color: Black;
    font-weight:bold;
    font-size: 2em;
    vertical-align: middle;
    display: inline;
}
.welcomeMsg {
    font-weight:bold;
    font-size: 1.5em;
    text-align: center;
    display: inline;
}
.welcomeMsg2 {
	color: Black;
	font-weight: bold;
	text-align: center;
	display: inline;
}
.warningMsg {
    color: Red;
    font-weight:bold;
    font-size: 1.5em;
    text-align: center;
    display: inline;
}
.leaflet-control-layers-expanded, .leaflet-control-layers-list {
    height: 200px !important;
    overflow: auto !important;
}

/** New stuff for the popup tabs **/
.leaflet-popup-content{
	width: 350px;
	margin: 13px 13px;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
	background: #0000009c !important;
	color: #333;
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}
.popupTabs {
	position: relative;
	min-height: 250px;
	clear: both;
	margin: 18px 0;
}
.popupTab {
	float: left;
	display: none;
}
.popupTab:first-of-type {
	display: inline-block;
}
.popupTabs-link {
	position: relative;
	top: -2px;
	height: 20px;
	left: -40px;
}
.popupTab-link {
	background:#eee;
    display: inline-block;
    padding:4px;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border:1px solid #ccc;
    margin-left:-1px;
    position:relative;
    list-style-type: none;
    top:1px;
    cursor:pointer;
}
.popupTab-link {
	background: #f8f8f8;
}
.popupTabContent {
	background:#f8f8f8;
    position:absolute;
    overflow: auto;
    top:25px;
    left:0;
    right:0;
    bottom:0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
    border-top-color: rgb(204, 204, 204);
	border-top-style: solid;
	border-top-width: 1px;
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}
.popupTabs-fw {
	position: relative;
	min-height: 250px;
	color: red;
	font-weight: 900;
	text-align: center;
	clear: both;
	margin: 18px 0;
}
.popupTabContent-fw {
	text-align: left;
	font-weight: normal;
	color: black;
	background:#f8f8f8;
    position:absolute;
    overflow: auto;
    top:25px;
    left:0;
    right:0;
    bottom:0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
    border-top-color: rgb(204, 204, 204);
	border-top-style: solid;
	border-top-width: 1px;
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -webkit-border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.popupTabs-nonmesh {
	position: relative;
	min-height: 250px;
	color: white;
	font-weight: 900;
	text-align: center;
	clear: both;
	margin: 18px 0;
}
.popupTab:target {
	display: block;
}
.viewAsListControl{
  height: 30px;
  width: 30px;
  background-image: url("../images/list-icon.png");
  background-repeat: no-repeat;
  background-position: center;
}
.leaflet-ruler {
	height: 30px !important;
	width: 30px !important;
}
.leaflet-control-layers-toggle {
	height: 30px !important;
	width: 30px !important;
}